.social-bar {
  width: 100px;
}

.social-item {
  width: 90px;
  height: 90px;
  position: relative;
  cursor: pointer;
}

.social-item__back svg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: top 0.3s linear;
  transition: top 0.3s linear;
}

.social-item__front svg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social-item__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 14px;
  z-index: -1;
  position: absolute;
  top: 45%;
  left: 30%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

.social-item__title-black {
  color: black;
  left: 30%;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social-item__title-1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  position: absolute;
  top: 90%;
  left: 35%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social-item__title-1-zalo {
  font-size: 16px;
  color: black;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social-item:hover .social-item__front svg {
  top: 35%;
  opacity: 0;
}

.social-item:hover .social-item__back svg {
  top: 35%;
}

.social-item:hover .social-item__title {
  left: 90%;
}

.social-item:hover .social-item__title-1 {
  left: 32%;
}

.social-item:hover .social-item__title-black {
  left: 90%;
  opacity: 1;
}

.social-item:hover .social-item__title-1-zalo {
  font-size: 18px;
  color: #2193b0;
  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #6dd5ed, #2193b0);
}

.social-item .like-unlike {
  font-size: 13px;
  font-weight: 400;
  color: black;
  position: absolute;
  top: 80%;
  left: 38%;
}

.social-item-1 {
  width: 90px;
  height: 90px;
  position: relative;
  cursor: pointer;
}

.social-item-1__back svg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: top 0.3s linear;
  transition: top 0.3s linear;
}

.social-item-1__front svg {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social-item-1__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 600;
  font-size: 14px;
  position: absolute;
  top: 90%;
  left: 35%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.social-item-1:hover .social-item-1__front svg {
  top: 35%;
  opacity: 0;
}

.social-item-1:hover .social-item-1__back svg {
  top: 35%;
}

.social-item-1:hover .social-item-1__title {
  font-size: 16px;
  left: 34%;
}

.social-item-1:hover .social-item-1__zalo {
  color: #2193b0;
  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #6dd5ed, #2193b0);
}
/*# sourceMappingURL=social.css.map */