.slider-2 {
  width: 195px !important;
  height: 150px !important;
  margin-top: 25px;
  margin-left: 30px !important;
  margin-right: 0 !important;
  position: relative;

  &:hover &__3 {
    display: block !important;
  }
  &:hover &__2 {
    z-index: -1;
  }
  &__1 {
    width: 195px !important;
    height: 150px !important;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__2 {
    width: 195px !important;
    height: fit-content;
    text-align: left;
    color: #fff;
    padding-left: 15px;
    background: rgba($color: #789a3d, $alpha: 0.6);

    position: absolute;
    bottom: 0;
    left: 0;
    & p {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
    }
  }
  &__3 {
    width: 195px !important;
    height: 150px !important;
    text-align: center;
    background: rgba($color: #fff, $alpha: 0.9);

    position: absolute;
    top: 0;
    left: 0;
    display: none;
    & a {
      text-decoration: none;
      color: #789a3d;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 50px;
    }
    &:hover a {
      font-weight: 600;
    }
  }
}
.swiper-wrapper-1 {
  height: 300px !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
  font-weight: 600;
  color: black;
}
.swiper-button-prev-2 {
  width: 100px;
  height: 300px;
  position: absolute;
  top: -20px;
  left: -20px;
  background: #fff;
  opacity: 1;
  z-index: 1000;
  font-size: 5px !important;
  color: black;

  &:after {
    font-size: 24px !important;
    font-weight: 600;
  }
}
.swiper-button-next-2 {
  width: 100px;
  height: 300px;
  position: absolute;
  top: -20px;
  right: 0;
  background: #fff;
  opacity: 1;

  z-index: 1000;
  font-size: 5px !important;
  color: black;

  &:after {
    font-size: 24px !important;
    font-weight: 600;
  }
}
.swiper-wrapper-2 {
  height: 200px !important;
}

.view-all-btn-tab {
  border: none;
  text-transform: uppercase;
  color: #fff;
  background: gray;
  margin-right: 20px !important;
  &:hover {
    background: #789a3d !important;
  }
  &:focus {
    background: #789a3d !important;
    box-shadow: 0 0 0 0.25rem rgba($color: #000000, $alpha: 0.8) !important;
  }
  &:active:focus {
    background: #789a3d !important;
    box-shadow: 0 0 0 0.25rem rgba($color: #000000, $alpha: 0.8) !important;
  }
}

button.active {
  background: #789a3d !important;
  &:hover {
    background: #789a3d !important;
  }
  &:focus {
    background: #789a3d !important;
    box-shadow: 0 0 0 0.25rem rgba($color: #000000, $alpha: 0.8) !important;
  }
  &:active:focus {
    background: #789a3d !important;
    box-shadow: 0 0 0 0.25rem rgba($color: #000000, $alpha: 0.8) !important;
  }
}
